<!--<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks <%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>

  <form action='/bookmarks/new'>
    <input tyoe="submit" value="Add Bookmark" />
  </form>

</ul>-->


<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmarks"id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
    </li>
  <% end %>
</ul>

  <form action='/bookmarks/new'>
    <input type="submit" value="Add Bookmark" />
  </form>
